extends layout

block content
  h1= title
  table.table.table-striped
    thead
      tr
        th
        th Author
        th Genre
        th Description
    tbody
      for book in books
        tr.row
          td
            a(href=`/bookdetails/${book.id}`)
              img(src=`${book.image_url}`)
            p #{book.title}
          td
            for author in book.authors
              ul
                li #{author.name}
          td
            ul
              -var genreNames = book.genres.map(genre => genre.name)
              -genreNames = genreNames.filter((element, index, array) => !array.slice(0, index).includes(element))
              for genreName in genreNames
                li #{genreName}
          td
            -var description = book.description ? book.description : 'No description available'
            p  #{description.slice(0,300)}
